 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
div{
    background-color: dodgerblue;
    height: 100px;
    width: 100px;
    text-align: center;
    color: white;
    border: 2px solid rgb(15, 87, 87);
    cursor: pointer;
    margin: 10px;
}

button {
    background-color: lightcoral;
    height: 30px;
    width: 100px;
}

.dark{
    background-color: black;
    color: white;
}

.light{
    background-color: white;
    color: black;
}